python==3.11
numpy==1.26.4
pandas==2.2.3
polars==1.21.0
matplotlib==3.7.2
seaborn==0.12.2
tqdm==4.67.1
opencv-python==4.11.0.86
pydicom==3.0.1
torch==2.6.0+cu124
torchvision==0.21.0+cu124
albumentations==2.0.8
scikit-learn==1.2.2
timm==1.0.15
